---
title: Mo Patel
layout: layouts/base.njk
---


<div class="row">
    {% for pics in collections.photos | slice(4) %}
        <div class="column">
        {% for pic in pics | reverse %}
            <video class="front-image" loop autoplay>
                <source src="{{ pic.data.artVideo }}" type="video/mp4">
                Your browser does not support video.
            </video>
        {% endfor %}
        </div>
    {% endfor %}
</div>