<!DOCTYPE html>
<html lang="en">
    
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="dyln.bk - A home for my ideas, music, artwork and photography">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/media/uploads/iconf.png" type="image/x-icon">
        <title>Mo Patel</title>
    
    </head>

    <body>
        <div class="heading">
            <h1>
                Mo Patel
            </h1>
        </div>

        {{ content | safe }}
    
    </body>

</html>