<!DOCTYPE html>
<html lang="en">
    
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="/media/uploads/icon.png" type="image/x-icon">
        <title>dylnbk.page</title>
    
    </head>
    <body style="background-color: #1b1b1b;">
        <img style="max-height: 98vh; display: block; margin-left: auto; margin-right: auto; max-width: 100%;" src="{{ artImage | url }}" alt="{{ artImage }}"></img>
    </body>
</html>